---
slug: sidebar
---
<!-- site navigation -->
<div class="column-span">
  <nav>
    <h2 id="menu-title" class="sr-only">{{#i18n "Sidebar-Title"}}{{/i18n}}</h2>
    <ul id="menu" aria-labelledby="menu-title">
      <li><a href="/">Beranda</a></li>
      <li><a href="https://editor.p5js.org">Editor</a></li>
      <li><a href="/download/">Unduh</a></li>
      <li><a href="/get-started/">Memulai</a></li>
      <li><a href="/reference/">Referensi</a></li>
      <li><a href="/libraries/">Pustaka</a></li>
      <li><a href="/learn/">Belajar</a></li>
      <li><a href="/examples/">Contoh</a></li>
      <li><a href="/books/">Buku</a></li>
      <li><a href="/community/">Komunitas</a></li>
      <li><a href="https://discourse.processing.org/c/p5js" target=_blank class="other-link">Forum</a></li>
      <li><a href="http://github.com/processing/p5.js" target=_blank class="other-link">GitHub</a></li>
      <li><a href="http://twitter.com/p5xjs" target=_blank class="other-link">Twitter</a></li>
    </ul>
  </nav>
</div>
